server:
  port: 8001
spring:
  application:
    name: user-api
  eureka:
    client:
      fetch-registry: true
      register-with-eureka: true
    service-url:
      defaultZone:${EUREKA_URL: http://localhost:8761/eureka}

